*, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

html {
   height: 100%; /* makes sure our HTML takes up 100% of the browser window */
   font-size: 100%;
}

.body {
    background-color: #65CCB8;
}

/*Sidebar*/

.new-room-button {
    border: 2px solid #3AAFA9;
    margin-left: 3rem;
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    background-color: #A8D0E6;
    color: #3AAFA9;
    font-weight: bold;
}

.new-room-button:hover {
    cursor: pointer;
}

.room-nav {
    background-color: #F13C20;
    position: fixed;
    width: 25%;
    top: 0px;
    left: 0px;
    height: 100%;
    text-align: left;
    padding-left: 5px;
}

.room-name {
    margin-top: 2rem;
    font-size: 24px;
    color: #3AAFA9;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 2px 2px black;
    padding-left: 3rem;
}

.active {
  padding-top: 2rem;
  padding-left: 3rem;
  text-decoration: underline;
  text-shadow: 2px 2px black;
  font-weight: bold;
  font-size: 20px;
  color: #3AAFA9;
}
.room-name:hover {
    cursor: pointer;
}

.tagline {
  color: #3AAFA9;
  font-style: italic;
  padding-bottom: 2rem;
  margin-left: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px black;
  text-transform: capitalize;
}

.title {
  color: #3AAFA9;
  font-weight: bolder;
  font-size: 50px;
  text-decoration: underline;
  text-transform: full-width;
  text-shadow: 2px 2px black;
  font-style:oblique;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 640px) {
    html { font-size: 112%; }
    .column {
        float: right;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .column.full { width: 100%; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; }
}


@media (min-width: 1024px) {
     html { font-size: 120%; }
 }

 .clearfix::before,
 .clearfix::after {
    content: " ";
    display: table;
 }

 .clearfix::after {
    clear: both;
 }

/* messages and chat */

.even {
  border: 2px solid;
  border-radius: 10px;
  background-color: #EFE2BA;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
}

.odd {
  border: 2px solid;
  border-radius: 10px;
  background-color: #C1C8E4;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
}

.messages {
  display: table;
  text-align: center;
  margin-left: 600px;
}

.header {
  font-weight: bolder;
  font-size: 50px;
  color: black;
  text-decoration: underline;
}

.username {

  font-weight: bold;
  font-size: 14px;
  color: #f13C20;
}

.usernameTwo {
  font-weight: bold;
  font-size: 14px;
  color: #3500D3;
}

.timeplate {
  font-weight: bold;
}

.content {
  font-size: 14px;
  padding-left: .5rem;
}

/* Chatroom prompt */

.chat-box {
  text-decoration: underline;
  text-align: center;
}

.instruction {
  font-weight: bold;
  padding-left: 1rem;
}

.contain-list {
  position: static;
  right: 30px;
  top: 50px;
  font-size: 10px;
  padding-left: 1rem;
}

.list-top {
  font-weight: bold;
  margin-top: 2rem;
}

.lists {
  font-style: italic;
}

.footer {
  right: 10px;
  bottom: 10px;
  position: fixed;
}
